/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.centerLogin{
    width: 300px;
    margin-right:auto;
    margin-left:auto;
}
#Button12, .buttonAddFormas {
    position: relative;
    margin-left: 30px;
    right: 0;
}
.listFormas {
    margin-left: 10px;
    position: relative;
    right: 0;
}
.checkFormas{
    position:relative;
    margin-top:30px;
    margin-bottom:10px;
    top:20px;
    left:20px;

}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    float: none;
    top: 21px;
    left: 0px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
